ion-toolbar {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}
ion-content {
  --background: var(--ion-background-color);
}
ion-header {
  padding: var(--ion-header-padding);
}
